.containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
  }
  
  .ccard {
    background-color: #f7f7f7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .card-title {
    margin-bottom: 0;
  }
  
  .media-meta-day {
    font-size: 14px;
    color: #888888;
    padding: 5px 0;
    border-bottom: 1px solid #888888;
    margin-bottom: 10px;
  }
  
  .media-chat {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .media-chat-reverse {
    flex-direction: row-reverse;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .media-body {
    flex: 1;
    padding: 5px;
  }
  
  .media-chat .media-body {
    color: black;
    align-self: flex-start;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .media-chat-reverse .media-body {
    align-self: flex-end;
    color: black;
    background-color: #b0b39b;
    border: 1px solid #f5f8db;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .meta {
    font-size: 12px;
    color: #888888;
    margin-top: 5px;
  }
  
  .publisher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #888888;
    padding-top: 10px;
    margin-top: 15px;
  }
  
  .publisher-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .publisher-btn {
    color: var(--primary);
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
 
  
  /* Add any additional styling as needed */