.custom-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.actions button.standings {
    border: 1px solid;
    min-height: 50px;
    min-width: 100px;
    background-color: #FF800F;
    color: white;
    transition: .5s all;
}

.actions button.standings:hover {
    border-radius: 5px;
    border: 1px solid #FF800F;
    background-color: white;
    color: black;
}

.actions .timer {
    font-size: 20px;
    font-weight: bold;
}