{% extends "index2.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/chat.css' %}" />

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-12">
        <div class="card chat-card">
          <div class="card-header">
            <h4 class="card-title"><strong>Chat</strong></h4>
            <a class="btn btn-sm btn-secondary" href="#" data-abc="true">Ask AI</a>
          </div>
          <div class="card-body">
            <div class="chat-messages">
              {% if prev_chats %}
                {% for chat in prev_chats %}
                  {% if chat.is_received %}
                    <div class="message received">
                      <span class="text">{{ chat.text }}</span>
                      <span class="time">00:07</span>
                    </div>
                  {% else %}
                    <div class="message sent">
                      <span class="text">{{ chat.text }}</span>
                      <span class="time">00:07</span>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if response %}
                <div class="message received">
                  <span class="text">{{ response|linebreaksbr }}</span>
                  <span class="time">00:07</span>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="card-footer">
            <div class="input-wrapper">
              <input id="prompt" class="input-field" type="text" placeholder="Type your message">
              <button id="submit" class="send-button" data-abc="true">&#9658;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      let submit = document.getElementById('submit')
      let prompt = document.getElementById('prompt')
      let chatMessages = document.querySelector('.chat-messages')
      chatMessages.scrollTop = chatMessages.scrollHeight;

      submit.addEventListener('click', (e) => {
        
        e.preventDefault()
        value = prompt.value

        chatMessages.innerHTML += `
        <div class="message sent">
          <span class="text">${value}</span>
          <span class="time">00:10</span>
        </div>`

        prompt.value = ''

        var dv = document.createElement('div')
        dv.className = 'message received typing'
        dv.innerHTML = `
          <span class="text">...</span>
          <span class="time">00:07</span>`

        chatMessages.appendChild(dv)
        chatMessages.scrollTop = chatMessages.scrollHeight;
        var url = '{% url "get_chat" %}' + '?query=' + encodeURIComponent(value); // Construct the URL with the query parameter

        $.get(url, function (response) {
          dv.classList.remove('typing')
          dv.innerHTML = `
            <span class="text">${response.answer}</span>
            <span class="time">00:07</span>`
            chatMessages.scrollTop = chatMessages.scrollHeight;

          console.log(response.answer);
        });
      })
    })
  </script>
{% endblock content %}