{% extends 'index.html' %}

{% block body %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
<div class="">
            <div id="card" class="ccard card-bordered">
              <div class="card-header">
                <h4 class="card-title"><strong>Chat</strong></h4>
                <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Ask AI</a>
              </div>
                <div class="media media-meta-day">Today</div>
                {%if prev_chats %}
                {% for chat in prev_chats %}
                {%if chat.is_recieved%}
                <div class="media media-chat">
                  <img class="avatar" src="{%static 'images/AIlogo.png' %}" alt="...">
                  <div class="media-body">
                    <p>{{chat.text}}</p>
                    <p class="meta"><time datetime="2023">00:07</time></p>
                  </div>
                </div>
                {%else%}
                <div class="media media-chat media-chat-reverse">
                  <div class="media-body">
                    <p>{{chat.text}}</p>
                    <p class="meta"><time datetime="2023">00:07</time></p>
                  </div>
                </div>
                {%endif%}
                {%endfor%}
                {%endif%}
                <div class="media media-chat ">
                    <img class="avatar" src="{%static 'images/AIlogo.png' %}" alt="...">
                    <div class="media-body">
                      <p>{{response|linebreaksbr}}</p>
                      <p class="meta"><time datetime="2018">00:07</time></p>
                    </div>
                  </div>
              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div></div>

              <div class="publisher bt-1 border-light">
                <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                <input id="prompt" class="publisher-input" type="text" placeholder="Write something" >
                <!--file

                
                <span class="publisher-btn file-group">
                  <i class="fa fa-paperclip file-browser"></i>
                  <input type="file">
                </span>
                --><a id="submit" class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
              </div>

             </div>
          </div>
          </div>
          </div>
          </div>

          <script>
            $(document).ready(function() {
let submit =  document.getElementById('submit')
let prompt  = document.getElementById('prompt')
let card = document.getElementById('card')
window.scrollTop = window.scrollHeight;
submit.addEventListener('click', (e)=>{
    e.preventDefault()
    value = prompt.value
    card.innerHTML += `
<div class="media media-chat media-chat-reverse">
    <div class="media-body">
      <p>${value}</p>
      <p class="meta"><time datetime="2018">00:10</time></p>
    </div>
  </div>`
  prompt.value = ''

  var dv = document.createElement('div')
  dv.className = 'media media-chat'
  dv.innerHTML = `<div class="media media-chat ">
    <img class="avatar" src="{%static 'images/AIlogo.png' %}" alt="...">
    <div class="media-body">
      <p>... </p>
      <p class="meta"><time datetime="2018">00:07</time></p>
    </div>
  </div>`
  card.appendChild(dv)
  card.scrollTop = card.scrollHeight;
  var url = '{% url "get_chat" %}' + '?query=' + encodeURIComponent(value);// Construct the URL with the query parameter

  $.get(url, function(response) {
    dv.innerHTML = `<div class="media media-chat ">
        <img class="avatar" src="{%static 'images/AIlogo.png' %}" alt="...">
        <div class="media-body">
          <p>AI: ${response.answer}</p>
          <p class="meta"><time datetime="2018">00:07</time></p>
        </div>
      </div>`
    // Handle the response received from the server
    console.log(response.answer);
  });
})
})
          </script>
          {% endblock body%}
