{% extends 'index2.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/quiz2.css' %}" />
<link rel="stylesheet" href="{% static 'css/timer.css' %}" />
<script src="{% static 'js/quiz2.js' %}"></script>

    <script defer>
        const groupQuiz = true;
        const groupId = {{group_quiz.id}}
        let QuizId = {{group_quiz.quiz.id|safe}};
        let shuffledQuestions  = {{ questions|safe }};
        console.log(shuffledQuestions);
        //shuffledQuestions = JSON.parse(shuffledQuestions);
        test(shuffledQuestions, QuizId);
        var started = false;
        var completed = false;
        var inprogress = false;
        var ref = 0;

            // Assuming group_quiz.start_time and group_quiz.end_time are already defined as datetime fields in the context
            const startTime = new Date("{{ group_quiz.start_time | date:'Y-m-d\\TH:i:s' }}");
            const endTime = new Date("{{ group_quiz.end_time | date:'Y-m-d\\TH:i:s' }}");
        
            setInterval(function() {
                const currentTime = new Date(); // Get the current time
        
                if (currentTime >= startTime && currentTime <= endTime) {
                    // Quiz is in progress
                    const timeDiff = endTime.getTime() - currentTime.getTime(); // Calculate the difference between current time and end time
        
                    if (timeDiff <= 0) {
                        clearInterval(); // Stop the timer if end time has passed
                            document.getElementById("timer").innerHTML = "Completed"; 
                            
                        
                        // Update the timer element with a message
                        completed  = true;
                    } else {
                        started = true;
                        if (ref < 1){
                        document.getElementById('quiz-main').style.display = 'block'
                        ref = parseInt(ref) +1;
                        }
                        //display the quiz here

                        const diffInSeconds = Math.floor(timeDiff / 1000);
                        const diffInMinutes = Math.floor(diffInSeconds / 60);
                        const diffInHours = Math.floor(diffInMinutes / 60);
                        const remainingHours = diffInHours % 24;
                        const remainingMinutes = diffInMinutes % 60;
                        const remainingSeconds = diffInSeconds % 60;
        
                        const formattedTime =
                            "Ends in " +
                            remainingHours +
                            " hours, " +
                            remainingMinutes +
                            " minutes, " +
                            remainingSeconds +
                            " seconds";
        
                        document.getElementById("timer").innerHTML = formattedTime; // Update the timer element with the remaining time
                    }
                } else if (currentTime < startTime) {
                    
                    // Quiz has not started yet
                    const timeDiff = startTime.getTime() - currentTime.getTime(); // Calculate the difference between current time and start time
        
                    const diffInSeconds = Math.floor(timeDiff / 1000);
                    const diffInMinutes = Math.floor(diffInSeconds / 60);
                    const diffInHours = Math.floor(diffInMinutes / 60);
        
                    const remainingDays = Math.floor(diffInHours / 24);
                    const remainingHours = diffInHours % 24;
                    const remainingMinutes = diffInMinutes % 60;
                    const remainingSeconds = diffInSeconds % 60;
        
                    const formattedTime =
                        "Starts in " +
                        remainingDays +
                        " days, " +
                        remainingHours +
                        " hours, " +
                        remainingMinutes +
                        " minutes, " +
                        remainingSeconds +
                        " seconds";
        
                    document.getElementById("timer").innerHTML = formattedTime; // Update the timer element with the remaining time to start
                } else {
                    // Quiz has already ended
                    clearInterval(); // Stop the timer
                    document.getElementById('quiz-main').style.display = 'none'
                    document.getElementById("timer").innerHTML = "Completed"; // Update the timer element with a message
                }
            }, 1000);
            if (started){
                document.getElementById('quiz-main').style.display = 'block'
            }
    </script>

<div class="quiz-page">
    <div class="actions">
        {%if has_user_joined %} <button class="standings">Standings</button> {%endif%}
        <div id="timer">
            <!-- {{ timer_minutes }}:{{ timer_seconds }} If the time is passed as a prop -->
        </div>
        {%if has_user_joined %}<p>Joined</p>
        {%else%}
        <form method="post" action="{%url 'join_group' group_quiz.id %}">
            {% csrf_token %}
        <input type="hidden" name="id" value="{{group_quiz.id}}">
        <button type="submit" class="standings">Join</button>
        </form>
        {%endif%}
    </div>
    <div id="standings-overlay" class="standings-overlay" >    
        <div class="standings-dv">
            <h1 class="standings-heading">Standings</h1>
            <div class="standings-row">
                <p>Name</p>
                <p>Score</p>
            </div>
            <div class="standings-list">
                {% for score in scores %}
                <div class="standings-row">
                    <p>{{forloop.counter}}. {{ score.competitor }}</p>
                    <p>{{ score.score }}</p>
                </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary" >Back</button>
        </div>
    </div>

    {%if has_user_joined %}
    
    <main id="quiz-main" class="main" style="display:none">
        <div style="display:none; z-index:505" class="modal-container" id="score-modal">
          <div class="modal-content-container">
            <h1>Quiz Completed.</h1>
            <div class="grade-details">
              <p>Wrong Answers: <span id="wrong-answers"></span></p>
              <p>Right Answers: <span id="right-answers"></span></p>
              <p>Grade: <span id="grade-percentage"></span>%</p>
              <p><span id="remarks"></span></p>
            </div>
            <div class="modal-button-container">
              <button  class="view-explanation" id="exp-btn">View Explanations</button>
            </div>
          </div>
        </div>
    
        <div class="game-quiz-container">
          <div class="game-details-container">
            <h1>Score: <span id="player-score"></span></h1>
            <h1>Question: <span id="question-number"></span></h1>
          </div>
    
          <div class="game-question-container">
            <h1 id="display-question"></h1>
          </div>
    
          <div class="game-options-container">
            <div class="modal-container" id="option-modal">
              <div class="modal-content-container">
                <h1>Please Pick An Option</h1>
                <div class="modal-button-container">
                  <button id="close-modal-btn">Continue</button>
                </div>
              </div>
            </div>
    
            <span class="choice">
              <input type="radio" id="option-one" name="option" class="radio" value="optionA" />
              <label for="option-one" class="option" id="option-one-label"></label>
            </span>
    
            <span class="choice">
              <input type="radio" id="option-two" name="option" class="radio" value="optionB" />
              <label for="option-two" class="option" id="option-two-label"></label>
            </span>
    
            <span class="choice">
              <input type="radio" id="option-three" name="option" class="radio" value="optionC" />
              <label for="option-three" class="option" id="option-three-label"></label>
            </span>
    
            <span class="choice">
              <input type="radio" id="option-four" name="option" class="radio" value="optionD" />
              <label for="option-four" class="option" id="option-four-label"></label>
            </span>
          </div>
    
          <div class="next-button-container">
            <button id="next">Next Question</button>
          </div>
        </div>
      </main>
    
      <div id="explanations" style="display:none">
        {% for quest in questions %}
        <div class="single-result">
          <p class="exp explanation-question"><h>Question {{ quest.id }}:</h> {{ quest.question }}</p>
          <p class="exp explanation-correctAnswer"><h>Correct Answer:</h> {{ quest.correctOption }}</p>
          <p class="exp explanation-correctAnswer"><h>Explanation:</h> {{ quest.explanation }}</p>
        
          <form>
            {% csrf_token %}
            <input name="question" type="hidden" value="{{ quest.question }}">
            <input type="hidden" name="id" value="element_{{ forloop.counter }}">
            <input type="hidden" name="query">
            <button id="element_{{ forloop.counter }}b" class="btn btn-primary" type="submit">View more Explanations</button>
          </form>
          <div id="element_{{ forloop.counter }}l" class="loader" style="display:none"></div>
          <div id="element_{{ forloop.counter }}" class="more-explanation-area"></div>
        </div>
        {% endfor %}
      </div>
    
    
    <script>
        let forms = document.querySelectorAll('form');
    
        forms.forEach((form) => {
          form.addEventListener('submit', (event) => {
            event.preventDefault();
            //add some loader
            
            const question = form.querySelector('input[name="question"]').value;
            const div_id = form.querySelector('input[name="id"]').value;
            let queryInput = form.querySelector('input[name="query"]');
            let query = getQuery(question);
            queryInput.value = query;
    
            dv = document.getElementById(div_id);
            document.getElementById(div_id+"l").style.display = 'block'
            document.getElementById(div_id+"b").style.display = 'none'
    
            var url = '{% url "get_chat" %}' + '?query=' + encodeURIComponent(query); // Construct the URL with the query parameter
    
            $.get(url, function (response) {
    
              dv.innerHTML = 
                    `<p>${response.answer}</p>`
                    
              // Handle the response received from the server
              document.getElementById(div_id+"l").style.display = 'none'
              console.log(response.answer);
            });
    
          });
        });
    </script>
        {% endif %}
        <script src="index.js"></script>
    </div>
</div>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
        var standingsButton = document.querySelector('.standings');
        var standingsOverlay = document.getElementById('standings-overlay');
        var backButton = standingsOverlay.querySelector('button');

        standingsButton.addEventListener('click', function() {

            standingsOverlay.style.display = 'block';
            updateScoreboard();
        });

        backButton.addEventListener('click', function() {
            standingsOverlay.style.display = 'none';
        });
    });

  function updateScoreboard() {

    const url = `/get_scoreboard?id=${groupId}`;
    fetch(url)
        .then(response => response.json())
        .then(data => {
          console.log(data)
            // Get the scoreboard container
            const standingsList = document.querySelector('.standings-list');
            standingsList.innerHTML = ''; // Clear the previous content

            let index = 0;
            Object.entries(data).forEach(([competitor, score]) => {
                const standingsRow = document.createElement('div');
                standingsRow.className = 'standings-row';

                const nameParagraph = document.createElement('p');
                nameParagraph.textContent = `${index + 1}. ${competitor}`;

                const scoreParagraph = document.createElement('p');
                scoreParagraph.textContent = score;

                standingsRow.appendChild(nameParagraph);
                standingsRow.appendChild(scoreParagraph);

                standingsList.appendChild(standingsRow);
            });
        })
        .catch(error => {
            console.error('Error fetching scoreboard data:', error);
        });
}

</script>
{% endblock content %}