{% extends 'index.html' %}

{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/upload.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="{% static 'js/index2.js' %}"></script>
<script src="{%static 'js/file_upload.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Add jQuery library -->

<div id="upload-page">
    <form id="myForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file-upload">
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger('click')">Choose a File</button>
          <div class="loader" style="display:none">
            <div></div>
            <div></div>
            <div></div>
        </div>
          <div class="image-upload-wrap">
            <input type='file' class="file-upload-input" name="file"  accept="application/pdf, .docx, .txt" onChange="fileSelect()" />
            <div class="drag-text">
              <p style="text-align:center">Drag and drop a file or select choose file</p>
              <ul>
                <li>
                  <p>Supported file formats are .pdf or .docx</p>
                </li>
                <li>
                  <p>The file should be less than 10 MB</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="file-upload-content">
          </div>
          <div class="form-element">
            <select name="difficulty" class="form-group form-control">
              <option class="form-group" disabled selected>Difficulty</option>
              <option class="form-group">Medium</option>
              <option class="form-group">Hard</option>
              <option class="form-group">Easy</option>
            </select>
            <div class="form-group">
              <label class="form-control form-group" for="qnumber">Number of Questions</label>
              <input name="qnumber" type="number" class="form-control form-group" id="qnumber" max="15" />
            </div>
            <div class="form-group">
              <label class="form-control form-group" for="spage">Specify Page Number<br />Start page&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbspEnd Page</label>
              <div class="label" style="display:flex">
                <input name="spages" type="number" class="form-control form-group pageinput" id="spags" max="15" />
                <input name="spagee" type="number" class="form-control form-group pageinput" id="spage" max="15" />
              </div>
             </div>
          </div>
          <button class="btn btn-primary upload-btn" type="submit">Submit</button>
        </div>
      </form>
</div>

<div id="quiz-page" style="display: none" >
    <header class="header bg-primary">
        <div class="left-title">Quiz Me</div>
        <div class="center-title">Time remaining:</div>
        <div class="right-title">Total Questions: <span id="tque"></span></div>
        <div class="clearfix"></div>
    </header>
    
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4><span id="qid">1.</span> <span id="question"></span></h4>
                                <div class="option-block-container" id="question-options">
                                </div> <!-- End of option block -->
                            </fieldset>
                            <button type="botton" name="previous" id="previous" class="btn btn-success">Previous</button>
                            &nbsp;
                            <button type="botton" name="next" id="next" class="btn btn-success">Next</button>
                        </form>
                    </div>
                </div> <!-- End of col-sm-12 -->
            </div> <!-- End of row -->
        </div> <!-- ENd of container fluid -->
    </div> <!-- End of content -->
</div>

<script>
  $(document).ready(function() {
      // Retrieve the CSRF token from the cookie
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      
  
      $('.upload-btn').click(function(e) {
          e.preventDefault();
  
          // Show loader
          $('.loader').show();
  
          // Get form data
          var formData = new FormData($('#myForm')[0]);
  
          // Get CSRF token
          var csrftoken = getCookie('csrftoken');
  
          // Add CSRF token to request headers
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!this.crossDomain) {
                      xhr.setRequestHeader('X-CSRFToken', csrftoken);
                  }
              }
          });
          var quiz
          // Send form data to Django
          if (fileSelect()){
          $.ajax({
              type: 'POST',
              url: '{% url "quiz" %}',
              data: formData,
              processData: false,
              contentType: false,
              
              success: function(response) {
                  // Process the JSON response here
                  //var quiz = response;
                  test(response);
                  // Display the quiz page
                  $('#upload-page').hide();
                  $('#quiz-page').show();
              },
              error: function(xhr, status, error) {
                  // Handle errors here
                  var quiz = null
              },
              complete: function() {
                  // Hide loader
                  $('.loader').hide();
              }
          });
        }
      });
  });    
  </script>
{% endblock body %}