{% extends "index2.html" %}
{% load static %}

{% block content %}
<!-- Spinner Start -->

<!-- Navbar End -->


<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'img/icon/bg1.png' %}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 pt-5">
                                <h1 class="display-4 text-white mb-4 animated slideInDown">Convert Your Study material into interactive quiz</h1>
                                <p class="fs-5 text-body mb-4 pb-2 mx-sm-5 animated slideInDown">Just Upload Your Document. The AI handles the rest</p>
                                <a href="{%url 'upload' %}"  class="btn btn-primary py-3 px-5 animated slideInDown get-started-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5">Our Features</h1>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" width="20%" src="{% static 'img/icon/icon-07-primary.png' %}" alt="">
                                <h5 class="mb-0">Automated Quiz Generation: </h5>
                            </div>
                            <p>our platform automatically analyzes the uploaded educational material and generates a set of interactive quiz questions, saving yor time and effort.</p>
                        </div>

                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" width="35%"  src="{% static 'img/icon/icon-09-primary.png' %}" alt="">
                                <h5 class="mb-0">Competitive Learning</h5>
                            </div>
                            <p>you can compete with others, either individually or in groups. Leaderboards and rankings are implemented to foster healthy competition and encourage continuous learning.</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" width="35%"  src="{% static 'img/icon/icon-09-primary.png' %}" alt="">
                                <h5 class="mb-0">Share and ExportYour Quizzes</h5>
                            </div>
                            <p>You can fully access, share export into different formats your previously generated quiz and also you take quizes shared by others</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" width="35%"  src="{% static 'img/icon/icon-09-primary.png' %}" alt="">
                                <h5 class="mb-0">Access with Telegram Bot</h5>
                            </div>
                            <p>you can also use this service with Telegram bot. wheather you are student, content creator, group owner, and educator you can easily upload materials and receive the generated quizzes directly within your Telegram channels or groups as a poll.</p>
                            <a href="https://t.me/Quiz_mebot" >Open in Telegram</a>
                        </div>
                        <a href="{%url 'upload' %}"  class="btn btn-primary py-3 px-5 animated slideInDown get-started-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6">
                    <h1 class="text-white mb-4"><img class="img-fluid me-3" src="{% static 'img/icon/icon-02-light.png' %}" alt="">Quiz Me</h1>
                </div>
                <div class="col-md-6">
                    <h5 class="text-light mb-4">Contact Us</h5>
                    <p>Send Your message</p>
                    <div class="position-relative">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <input type="text" class="form-control bg-transparent w-100 h-200 py-3 ps-4 pe-5" type="text" style="height:200%" placeholder="Your message">
                        <button type="button" class="btn btn-primary w-100 py-2 px-3  mt-2 me-2">send</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Adama Ethiopia</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+251995985819</p>
                    <p><i class="fa fa-envelope me-3"></i>@gmail.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Our Services</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Follow Us</h5>
                    <div class="d-flex">
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">Quiz Me</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

{% endblock content %}