{% extends 'index2.html' %}

{% block content %}
{% load static %}

<body>
    <div class="container-xxl py-5 custom-container">
        <div class="container text-center">
            {% if group_quizes %}
            {% for quiz in group_quizes %}
            <div class="row border border-primary rounded p-3 mt-3 d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    {{ quiz.quiz.title }}
                </div>
                <div class="col-md-3">
                    Starts in: {{ quiz.start_time }}
                </div>
                <div class="col-md-3">
                    <a href="{%url 'group_quiz' quiz.id %}">More info</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3>You have not yet joined any group quizzes.</h3>
            
            {% endif %}
            <Button onclick="window.location.href = '{%url 'create_group_quiz'%}';" class="btn btn-primary" style="margin-top:20px; width:50%">
                Create new Group
            </Button>
        </div>
    </div>
</body>
{% endblock content %}