{% extends 'index2.html' %}

{% block content %}
  {% load static %}

  <div class="container">
    <div class="login-popup">
      {% if error %}
        <div id="alert" class="alert alert-danger">
          <p style="color: white">{{ error }}</p>
          <script>
            setTimeout(() => {
              document.getElementById('alert').innerHTML = '';
              document.getElementById('alert').classList = '';
            }, 2000);
          </script>
        </div>
      {% endif %}

      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-6 mx-auto">
              <div class="card shadow-lg rounded-3">
                <div class="card-body p-4 p-md-5">
                  <h2 class="card-title text-center mb-4">Login to Access Our Service</h2>
                  {% if error %}
                    <div id="alertContainer" class="alert alert-danger" role="alert">
                      {{ error }}
                      <script>
                        setTimeout(() => {
                          document.getElementById("alertContainer").style.display = "none";
                        }, 3000);
                      </script>
                    </div>
                  {% endif %}
                  <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required>
                      <div class="invalid-feedback">
                        Please enter a valid email address.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input class="form-control" type="password" name="password" placeholder="Your Password" id="password" required>
                      <div class="invalid-feedback">
                        Please enter your password.
                      </div>
                    </div>

                    <div class="d-grid">
                      <button class="btn btn-primary py-3" type="submit">Submit</button>
                    </div>
                  </form>
                  <p class="text-center mt-4">New here? <a href="{% url 'register' %}">Signup</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}