{% extends 'index2.html' %}

{% block content %}
{% load static %}
<style>
    .custom-container {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quiz-card {
        border: 1px solid #dee2e6;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .quiz-card h {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .quiz-card p {
        margin-bottom: 0;
    }

    .quiz-card .score {
        font-weight: bold;
    }

    .quiz-card .btn {
        margin-top: 10px;
    }
</style>
    <div class="container-fluid py-5 custom-container">
        <div class="container">
            {% if quizes %}
                {% for quiz in quizes %}
                    <div class="quiz-card">
                        <h>{{ quiz.title }}</h>
                        <p>Your previous Score: <span class="score">{{ quiz.user_score }} / {{quiz.size}}</span></p>
                        <a href="{% url 'quiz' quiz.id %}" class="btn btn-primary btn-sm">Retake Quiz</a>
                        <button onclick="exportQuiz({{ quiz.id }})" class="btn btn-primary btn-sm">Export</button>
                    </div>
                {% endfor %}
            {% else %}
                <h1>You haven't taken any quizzes yet.</h1>
            {% endif %}
        </div>
    </div>
<script>
    function exportQuiz(quizId) {
        fetch(`/get_quiz_json/${quizId}`)
            .then(response => response.json())
            .then(data => {
                const quizData = formatQuizData(data);
                const filename = `quiz_${quizId}.txt`;

                const blob = new Blob([quizData], { type: 'text/plain' });
                const anchor = document.createElement('a');
                anchor.href = window.URL.createObjectURL(blob);
                anchor.download = filename;
                anchor.click();
                anchor.remove();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function formatQuizData(data) {
        let formattedQuizData = '';

        data.questions.forEach((question, index) => {
            formattedQuizData += `Question ${index + 1}:\n`;
            formattedQuizData += `  ${question.question}\n`;
            formattedQuizData += `  Options:\n`;
            formattedQuizData += `    A. ${question.optionA}\n`;
            formattedQuizData += `    B. ${question.optionB}\n`;
            formattedQuizData += `    C. ${question.optionC}\n`;
            formattedQuizData += `    D. ${question.optionD}\n`;
            formattedQuizData += `  Correct Option: ${question.correctOption}\n`;
            formattedQuizData += `  Explanation: ${question.explanation}\n\n`;
        });

        return formattedQuizData;
    }
</script>
{% endblock content %}