{% extends 'index2.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/signup.css'%}" />
  <div class="container">
    <div class="signup-box">
      <h2 style="color:white">Sign Up</h2>
      <div id="alert" class="alert alert-danger">
        {% if error %}
        <p style="color: white">{{error}}</p>
        {% endif %}
        <script>
            setTimeout(() => {
              document.getElementById('alert').innerHTML = '';
              document.getElementById('alert').classList = '';
            }, 2000);
          </script>
    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                    <p class="display-6 mb-5">Please Register to access our service</p>
                    <br />
                    {%if error %}
                    <div id="alertContainer" class="alert alert-danger" role="alert">
                      {{error}}
                      <script>
                        setTimeout(3000, ()=>{document.getElementById("alertContainer").style.display = "none";
                      })
                      </script>
                    </div>
                    {%endif%}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Your Email">
                                    <label for="email">Full Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input class="form-control" type="password" name="password1" placeholder="Leave a message here" id="password">
                                    <label for="message">Password</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating">
                                  <input class="form-control" type="password" name="password2" placeholder="Leave a message here" id="confirm-password" >
                                  <label for="message">Re Type Password</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" name="profession" placeholder="Leave a message here" id="profession" >
                                <label for="message">Profession</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="agreeCheckbox">
                            <label class="form-check-label" for="agreeCheckbox">
                              I agree to the terms and conditions
                            </label>
                          </div>
                        </div>
                        
                            <div class="col-12">
                                <button class="btn btn-primary py-3 w-100 px-5" type="submit">Submit</button>
                            </div>
                            <a class="text-center" href="{%url 'login' %}">Dou you have an account? Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock content %}