{% extends "index2.html" %}

{% block content %}

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                    <p class="display-6 mb-5">Upload Your Documents So that we Prepare a quiz for you!</p>
                    <br />
                    <form method="post" enctype="multipart/form-data" onsubmit="showLoader()">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="file" name="file" class="form-control" id="name" >
                                    <label for="name">Your Document</label>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select id="difficulty" name="difficulty" class="form-control" >
                                        <option>
                                            Easy
                                        </option>
                                        <option>
                                            Medium
                                        </option>
                                        <option>
                                            Hard
                                        </option>
                                    </select>
                                    <label for="email">Difficulty</label>
                                </div>
                            </div>

                            <p class="">Specify the range of pages in you Document for generation of the quiz</p>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" name="spage" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Start Page</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input type="number" name="epage" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">end Page</label>
                                </div>
                            </div>
                            <p class="">specify number of questions</p>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" name="qnumber" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Number of Questions maximum (20)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <textarea class="form-control" name="additional_comment" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                    <label for="message">Additional Comments</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 w-100 px-5" type="submit">Submit</button>
                            </div>
                            {% if file_text %}
                            {{file_text}}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showLoader() {
          document.getElementById('loader').style.display = 'block';
        }
        </script>
    <!-- Contact End -->


{% endblock content %}